html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.elmt {
    padding-left: 5px;
    padding-right: 5px;
}

.hardware-info {
    font-size: 0.9em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}

.hardware-info progress {
    width: 50%;
}

.list-group-item button {
    width: 100%;
}

#media {
    text-align: center;
}

#media >img {
    width: 640px;
    height: 480px;
    margin: 0 auto;
}